# Assignment#5

**Name:** Lama Batta

**ID:** 1210922

<span style="color:blue"> **Import Libraries** </span>

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Read data from csv file
df = pd.read_csv('online_retail_II.csv')
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [4]:
#Set seed with your ID
seed=np.random.seed(1210922)

In [5]:
# Randomly select 200,000 rows using the seed
sample_df = df.sample(n=200000, random_state=seed)

<span style="color:red"> 1. Determine the total sales per invoice and identify the top 5 invoices.  </span>

In [7]:
#Calculate total sales 
df['Total_price']=df['Quantity'] * df['Price']
df['Total_price']

0           83.40
1           81.00
2           81.00
3          100.80
4           30.00
            ...
1067366     12.60
1067367     16.60
1067368     16.60
1067369     14.85
1067370     18.00
Name: Total_price, Length: 1067371, dtype: float64

<span style="color:blue"> The total price was calculated by multiplying the price by the quantity, and these are the results </span>

In [8]:
#Identify the top 5 invoices
top_invoices = df.groupby('Invoice')['Total_price'].sum().sort_values(ascending=False)[:5]
print("Top 5 Invoices:",top_invoices)

Top 5 Invoices: Invoice
581483    168469.60
541431     77183.60
574941     52940.94
576365     50653.91
533027     49844.99
Name: Total_price, dtype: float64

<span style="color:blue"> We found the first 5 invoices for Total Price for each invoice and these are the results </span>

<span style="color:red"> 2. Compute the total sales per customer and list the top 5 customers. </span>

In [9]:
#Calculate total sales 
df['Total_price']=df['Quantity'] * df['Price']
df['Total_price']

0           83.40
1           81.00
2           81.00
3          100.80
4           30.00
            ...
1067366     12.60
1067367     16.60
1067368     16.60
1067369     14.85
1067370     18.00
Name: Total_price, Length: 1067371, dtype: float64

<span style="color:blue"> The total price was calculated by multiplying the price by the quantity, and these are the results </span>

In [13]:
#Identify the top 5 customers
Top_customers_total = df.groupby('Customer ID')['Total_price'].sum()
Top_customers_sort=Top_customers_total.sort_values(ascending=False)
top_customers=Top_customers_sort.head(5)
print("Top 5 customers:",top_customers)

Top 5 customers: Customer ID
18102.0    598215.22
14646.0    523342.07
14156.0    296564.69
14911.0    270248.53
17450.0    233579.39
Name: Total_price, dtype: float64

<span style="color:blue"> We found the first 5 customers using groub by and head() for Total Price for each customers and these are the results </span>

<span style="color:red"> 3. Identify the top 5 selling items during this period. </span>

In [63]:
#Identify the top 5 selling items
top_selling_items = df.groupby('StockCode')['Quantity'].sum().sort_values(ascending=False)[:5]
print("Top 5 Selling Items:",top_selling_items)

Top 5 Selling Items: StockCode
84077     108545
85123A     96066
85099B     95739
21212      95450
84879      80705
Name: Quantity, dtype: int64

<span style="color:blue"> We found the first 5 selling items using groub by and these are the results </span>

<span style="color:red"> 4.Determine the most frequently purchased item pairs by customers and display the top 20 pairs. </span>

In [92]:

# Group by 'Invoice' and aggregate the 'Description' column as a list
pairs = df.groupby('Invoice').agg({'Description': list})
print(pairs)

                                               Description
Invoice
489434   [15CM CHRISTMAS GLASS BALL 20 LIGHTS, 15CM CHR...
489435   [CAT BOWL , CAT BOWL , CAT BOWL , CAT BOWL , C...
489436   [DOOR MAT BLACK FLOCK , DOOR MAT BLACK FLOCK ,...
489437   [CHRISTMAS CRAFT HEART DECORATIONS, CHRISTMAS ...
489438   [DINOSAURS  WRITING SET , DINOSAURS  WRITING S...
...                                                    ...
A528059                                  [Adjust bad debt]
A563185                                  [Adjust bad debt]
A563186                                  [Adjust bad debt]
A563187                                  [Adjust bad debt]
C496350                                           [Manual]

[41944 rows x 1 columns]

<span style="color:blue"> We grouped all invoices with descriptions using Groupby and aggregation and these are the results </span>

In [96]:
# Define function to get product distribution within each group
def get_dist(group):
    counts = dict()
    for i in group:
        counts[i] = counts.get(i, 0) + 1
    return dict(sorted(counts.items(), key=lambda item: item[1], reverse=True))

# Apply the function to compute product distribution and assign it to a new column
pairs['product_distribution'] = pairs['Description'].apply(get_dist)
print(pairs['product_distribution'] )

Invoice
489434     {'RECORD FRAME 7" SINGLE SIZE ': 48, 'STRAWBER...
489435     {'HEART MEASURING SPOONS LARGE': 24, 'CAT BOWL...
489436     {'SCOTTIE DOG HOT WATER BOTTLE': 24, 'LOVE BUI...
489437     {'PARTY CONE CHRISTMAS DECORATION ': 12, 'RETR...
489438     {'JUMBO BAG TOYS ': 60, 'CHARLIE+LOLA PINK HOT...
                                 ...
A528059                               {'Adjust bad debt': 1}
A563185                               {'Adjust bad debt': 1}
A563186                               {'Adjust bad debt': 1}
A563187                               {'Adjust bad debt': 1}
C496350                                        {'Manual': 1}
Name: product_distribution, Length: 41944, dtype: object

<span style="color:blue"> We have defined a function to get the distribution of the product  and these are the results </span>

In [94]:
# Rename columns
pairs = pairs.rename(columns={'Invoice': 'Quantity', 'product_Amount': 'total_amount'})
print(pairs)

                                               Description  \
Invoice
489434   [15CM CHRISTMAS GLASS BALL 20 LIGHTS, 15CM CHR...
489435   [CAT BOWL , CAT BOWL , CAT BOWL , CAT BOWL , C...
489436   [DOOR MAT BLACK FLOCK , DOOR MAT BLACK FLOCK ,...
489437   [CHRISTMAS CRAFT HEART DECORATIONS, CHRISTMAS ...
489438   [DINOSAURS  WRITING SET , DINOSAURS  WRITING S...
...                                                    ...
A528059                                  [Adjust bad debt]
A563185                                  [Adjust bad debt]
A563186                                  [Adjust bad debt]
A563187                                  [Adjust bad debt]
C496350                                           [Manual]

                                      product_distribution
Invoice
489434   {'15CM CHRISTMAS GLASS BALL 20 LIGHTS': 12, 'P...
489435   {'CAT BOWL ': 12, 'DOG BOWL , CHASING BALL DES...
489436   {'DOOR MAT BLACK FLOCK ': 10, 'LOVE BUILDING B...
489437   {'CHRISTMAS CRAFT HEART DECORATIONS': 6, 'CHRI...
489438   {'DINOSAURS  WRITING SET ': 28, 'SET OF MEADOW...
...                                                    ...
A528059                             {'Adjust bad debt': 1}
A563185                             {'Adjust bad debt': 1}
A563186                             {'Adjust bad debt': 1}
A563187                             {'Adjust bad debt': 1}
C496350                                      {'Manual': 1}

[41944 rows x 2 columns]

<span style="color:blue">Column renaming using rename() enhances clarity by providing clearer and simpler names for columns, facilitating better understanding of the data. Additionally, it ensures alignment with other datasets    and these are the results </span>

In [95]:
# peint top 20 selling item
Top_selling_item=pairs.head(20)
print(Top_selling_item)

                                               Description  \
Invoice
489434   [15CM CHRISTMAS GLASS BALL 20 LIGHTS, 15CM CHR...
489435   [CAT BOWL , CAT BOWL , CAT BOWL , CAT BOWL , C...
489436   [DOOR MAT BLACK FLOCK , DOOR MAT BLACK FLOCK ,...
489437   [CHRISTMAS CRAFT HEART DECORATIONS, CHRISTMAS ...
489438   [DINOSAURS  WRITING SET , DINOSAURS  WRITING S...
489439   [CHRISTMAS PUDDING TRINKET POT , CHRISTMAS PUD...
489440   [CAT BOWL , CAT BOWL , CAT BOWL , CAT BOWL , C...
489441   [BIRD DECORATION RED SPOT, BIRD DECORATION RED...
489442   [UNION JACK GUNS & ROSES  DOORMAT, UNION JACK ...
489443   [RETRO RED SPOTTY WASHING UP GLOVES, RETRO RED...
489444                                           [POSTAGE]
489445   [PINK FELT HANGING HEART W FLOWER, PINK FELT H...
489446   [RED HANGING HEART T-LIGHT HOLDER, RED HANGING...
489447                                           [POSTAGE]
489448   [GOLD APERITIF GLASS, GOLD APERITIF GLASS, GOL...
489450   [PAPER BUNTING WHITE LACE, PAPER BUNTING WHITE...
489460   [PINK CHERRY LIGHTS, PINK CHERRY LIGHTS, PINK ...
489461   [RED STRIPE CERAMIC DRAWER KNOB, RED STRIPE CE...
489462   [PINK SWEETHEART BRACELET, PINK SWEETHEART BRA...
489465   [FOLDING UMBRELLA , BLACK/BLUE  SPOT, FOLDING ...

                                      product_distribution
Invoice
489434   {'15CM CHRISTMAS GLASS BALL 20 LIGHTS': 12, 'P...
489435   {'CAT BOWL ': 12, 'DOG BOWL , CHASING BALL DES...
489436   {'DOOR MAT BLACK FLOCK ': 10, 'LOVE BUILDING B...
489437   {'CHRISTMAS CRAFT HEART DECORATIONS': 6, 'CHRI...
489438   {'DINOSAURS  WRITING SET ': 28, 'SET OF MEADOW...
489439   {'CHRISTMAS PUDDING TRINKET POT ': 12, 'BAKING...
489440   {'CAT BOWL ': 8, 'DOG BOWL , CHASING BALL DESI...
489441   {'BIRD DECORATION RED SPOT': 12, 'BAKING SET 9...
489442   {'UNION JACK GUNS & ROSES  DOORMAT': 2, 'SCOTT...
489443   {'RETRO RED SPOTTY WASHING UP GLOVES': 6, 'SET...
489444                                      {'POSTAGE': 1}
489445   {'PINK FELT HANGING HEART W FLOWER': 12, 'BLUE...
489446   {'RED HANGING HEART T-LIGHT HOLDER': 32, 'WHIT...
489447                                      {'POSTAGE': 1}
489448   {'GOLD APERITIF GLASS': 48, 'GOLD WINE GLASS':...
489450   {'PAPER BUNTING WHITE LACE': 12, 'CREAM FELT E...
489460   {'PINK CHERRY LIGHTS': 8, 'PACK OF 60 PINK PAI...
489461   {'RED STRIPE CERAMIC DRAWER KNOB': 24, 'BLUE S...
489462   {'PINK SWEETHEART BRACELET': 3, 'GREEN SWEETHE...
489465   {'FOLDING UMBRELLA , BLACK/BLUE  SPOT': 12, 'F...

<span style="color:blue"> We found top 20 selling item using head() and these are the results </span>

<span style="color:red"> 5.The retail store aims to introduce a new promotion targeting items with low sales volume. This promotion entails offering a discounted price for a pair of two different items, with one item being among the top 10 best sellers and the other from the bottom 10 sellers. Customers who purchase these two items together will qualify for the special pricing. Your task is to recommend 10 pairs of items to kickstart this campaign. </span>

In [71]:
# Identify top 10 best-selling items
top_10 = df.groupby('Description')['Total_price'].sum().sort_values(ascending=False).head(10)
print(top_10)

Description
REGENCY CAKESTAND 3 TIER               327813.65
DOTCOM POSTAGE                         322647.47
WHITE HANGING HEART T-LIGHT HOLDER     257533.90
JUMBO BAG RED RETROSPOT                148800.64
PARTY BUNTING                          147948.50
ASSORTED COLOUR BIRD ORNAMENT          131413.85
PAPER CHAIN KIT 50'S CHRISTMAS         121662.14
POSTAGE                                112341.00
CHILLI LIGHTS                           84854.16
ROTATING SILVER ANGELS T-LIGHT HLDR     73814.72
Name: Total_price, dtype: float64

<span style="color:blue"> We calculated total sales for each item by grouping the DataFrame df by the “Description” column. It then sums the 'Total_price' for each group and sorts the result in descending order. Finally, we selected the top 10 items with the highest total sales and printed them. and these are the results </span>

In [70]:
# Identify bottom 10 sellers
bottom_10 = df.groupby('Description')['Total_price'].sum().sort_values()[:10]
print(bottom_10)

Description
AMAZON FEE                            -260763.580
Adjust bad debt                       -147614.080
Manual                                 -82781.270
Bank Charges                           -33493.669
Discount                               -13484.540
CRUK Commission                         -7933.430
SAMPLES                                 -6065.800
 Bank Charges                           -2068.960
Adjustment by Peter on 24/05/2010 1      -731.050
SILVER CHERRY LIGHTS                     -611.280
Name: Total_price, dtype: float64

<span style="color:blue"> We calculated total sales for each item by grouping the DataFrame df by the “Description” column. It then sums the 'Total_price' for each group and sorts the result in descending order. Finally, we selected the bottom 10 sellers with the highest total sales and printed them. and these are the results </span>

In [72]:
# Merge top 10 best-selling items and bottom 10 sellers dataframes
merged_df = pd.concat([top_10, bottom_10])
print (merged_df)

Description
REGENCY CAKESTAND 3 TIER               327813.650
DOTCOM POSTAGE                         322647.470
WHITE HANGING HEART T-LIGHT HOLDER     257533.900
JUMBO BAG RED RETROSPOT                148800.640
PARTY BUNTING                          147948.500
ASSORTED COLOUR BIRD ORNAMENT          131413.850
PAPER CHAIN KIT 50'S CHRISTMAS         121662.140
POSTAGE                                112341.000
CHILLI LIGHTS                           84854.160
ROTATING SILVER ANGELS T-LIGHT HLDR     73814.720
AMAZON FEE                            -260763.580
Adjust bad debt                       -147614.080
Manual                                 -82781.270
Bank Charges                           -33493.669
Discount                               -13484.540
CRUK Commission                         -7933.430
SAMPLES                                 -6065.800
 Bank Charges                           -2068.960
Adjustment by Peter on 24/05/2010 1      -731.050
SILVER CHERRY LIGHTS                     -611.280
Name: Total_price, dtype: float64

<span style="color:blue"> We combined the top 10 DataFrame sellers (top_10) and bottom 10 DataFrame sellers (bottom_10) into one DataFrame (merged_df). and these are the results </span>

In [82]:
# Randomly select 10 pairs of items
pairs = []
while len(pairs) < 10:
    item1 = merged_df.sample(n=1).index[0]
    item2 = merged_df.sample(n=1).index[0]
    if (item1 != item2) and (frozenset([item1, item2]) not in pairs):
        pairs.append(frozenset([item1, item2]))
print(pairs)

[frozenset({'CRUK Commission', 'Discount'}), frozenset({'POSTAGE', 'SAMPLES'}), frozenset({'AMAZON FEE', 'JUMBO BAG RED RETROSPOT'}), frozenset({'JUMBO BAG RED RETROSPOT', "PAPER CHAIN KIT 50'S CHRISTMAS "}), frozenset({'POSTAGE', 'Adjust bad debt'}), frozenset({'POSTAGE', 'CRUK Commission'}), frozenset({'Bank Charges', 'REGENCY CAKESTAND 3 TIER'}), frozenset({' Bank Charges', 'Adjust bad debt'}), frozenset({'AMAZON FEE', 'Adjustment by Peter on 24/05/2010 1'}), frozenset({'ASSORTED COLOUR BIRD ORNAMENT', 'Manual'})]

<span style="color:blue">This code ensures that each pair of items is unique and that no item is paired with itself. Randomly selects elements from the merged_df DataFrame to create pairs  and these are the results </span>

In [81]:
# Display the recommended pairs of items
for i in range(10):
    print(f"Pair {i+1}: {pairs[i]}")

Pair 1: frozenset({'AMAZON FEE', 'CHILLI LIGHTS'})
Pair 2: frozenset({'PARTY BUNTING', 'SAMPLES'})
Pair 3: frozenset({'PARTY BUNTING', 'JUMBO BAG RED RETROSPOT'})
Pair 4: frozenset({'ASSORTED COLOUR BIRD ORNAMENT', 'JUMBO BAG RED RETROSPOT'})
Pair 5: frozenset({'SILVER CHERRY LIGHTS', 'Bank Charges'})
Pair 6: frozenset({'Bank Charges', 'CHILLI LIGHTS'})
Pair 7: frozenset({'ASSORTED COLOUR BIRD ORNAMENT', 'Bank Charges'})
Pair 8: frozenset({'CRUK Commission', 'PARTY BUNTING'})
Pair 9: frozenset({' Bank Charges', 'JUMBO BAG RED RETROSPOT'})
Pair 10: frozenset({'Adjustment by Peter on 24/05/2010 1', 'SAMPLES'})

<span style="color:blue">This code provides a clear and concise way to present the recommended pairs of items 
  and these are the results </span>